{% extends 'portal/outerbase.html' %}
{% block sections %}

<section class="page-section bg-primary" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">About Us</h2>
                    <hr class="divider light my-6" />
                    <p class="text-white-50">We offer the best teaching services in the Nation and we are bold to declare it.</p>
                    <p class="text-white-50 mb-3">Our Specialised Staffs and Teachers are trained to attend to the emotional, scientifical and educational needs of its students. We Guarantee practical learning as our Science and ICT labs are adequately equipped with the necessary Kits</p>
                    <p class="text-white-50 mb-3">We hope you find the information provided here helpul </p>
                    
                </div>
            </div>
        </div>
    </section>

{% endblock sections %}
