{% extends 'portal/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
            {% if messages %}
                        {% for message in messages %}
                    <div class="alert alert-{{message.tags }}">
                        {{ message }}
                    </div>
                        {% endfor %}
                        {% endif %}
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Payments and Bills</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          <!-- Content Row -->


          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->


            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Welcome to your Dashboard, Champ</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <h6 >Hello {{sender.fullname}} !
                  This is your dashboard. Use the navigation by the left to perform various task.
                    Kindly confirm and update your profile where necessary.</h6>
                  <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> Direct
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> Social
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> Referral
                    </span>
                  </div>
                </div>
              </div>
            </div>
           <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Make Payments</h6>
                </div>
                    <div class="card-body">
                  <h6> Make Payment easily with your ATM Master card</h6>
                        <form>
                        <p>Pay your school fees using paystack. Please be informed that payments are Non-refundable</p>
                        <script src="https://js.paystack.co/v1/inline.js"></script>
                        <a href="{% url 'trans' current_year_url current_term_url %}" class="btn btn-md btn-outline-info" >Pay School Fees</a>
                        </form>

                </div>
                </div>
                <!-- Card Body -->

              </div>
            </div>

          </div>





{% endblock content %}